body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:rgb(187, 224, 219);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: unset;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #e8f6f6;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #4f6b6e;
  color: white;
  font-weight: bold;
}

.present {
  background-color: #0be8f0;
  color: rgb(0, 8, 10);
  font-weight: bold;
}

.future {
  background-color: #117f8b;
  color: white;
  font-weight: bold;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #917fdf;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
